{% extends 'base.j2' %}

{% block title %}
    Page not found
{% endblock %}

{% block content %}

<main class="page_not_found">
    <h1 class="large-h">Page not found</h1>
    <div class="blank-2"></div>
    <a href="/"><button type="button" class="btn btn-primary btn-lg btn-dark">Go back</button></a>
</main>

{% endblock %}